<mat-toolbar color="primary">
  {{ appName }}
  <span class="spacer"></span>
  <button
    *ngIf="isDarkMode; else darkModeIcon"
    mat-icon-button
    aria-label="Activate light mode"
    matTooltip="Activate light mode"
    (click)="toggleTheme()"
  >
    <mat-icon aria-label="dark-mode-icon">wb_sunny</mat-icon>
  </button>
  <ng-template #darkModeIcon>
    <button
      mat-icon-button
      aria-label="Activate dark mode"
      matTooltip="Activate dark mode"
      (click)="toggleTheme()"
    >
      <mat-icon aria-label="dark-mode-icon">brightness_2</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>
