<section class="preview">
  <h3>Preview</h3>
  <div
    class="standup-preview copy-button"
    id="full-standup"
    data-clipboard-target="#full-standup"
  >
    <p class="title">Standup for {{ date }}</p>
    <p>{{ previousChecklistTitle }}:</p>
    <ul>
      <ng-container *ngFor="let checklistItem of previousChecklist.value">
        <li *ngIf="checklistItem">{{ checklistItem }}</li>
      </ng-container>
    </ul>
    <p>Today:</p>
    <ul>
      <ng-container *ngFor="let checklistItem of currentChecklist.value">
        <li *ngIf="checklistItem">{{ checklistItem }}</li>
      </ng-container>
    </ul>
    <div
      *ngIf="
        !isBlockersEmpty || (userSettings ? !userSettings.hideEmptyLists : true)
      "
    >
      <p>Blockers:</p>
      <ul *ngIf="blockers.value">
        <li *ngIf="isBlockersEmpty">N/A</li>
        <ng-container *ngFor="let blocker of blockers.value">
          <li *ngIf="blocker">{{ blocker }}</li>
        </ng-container>
      </ul>
    </div>
  </div>
  <button
    mat-flat-button
    color="accent"
    class="copy-button"
    data-clipboard-target="#full-standup"
  >
    Copy to clipboard
  </button>
</section>
