<mat-toolbar color="primary">
  {{ appName }}
  <span class="spacer"></span>
  <button
    mat-button
    [matMenuTriggerFor]="themePicker"
    aria-label="Select app theme"
    matTooltip="Select app theme. Current theme: {{ currentTheme }}"
  >
    <mat-icon class="material-icons-outlined" aria-label="app-settings-icon">{{
      themes[currentTheme].icon
    }}</mat-icon>
    {{ currentTheme | titlecase }}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #themePicker="matMenu">
    <button
      mat-menu-item
      *ngFor="let theme of themes | keyvalue"
      (click)="onThemeChanged(theme.value.name)"
    >
      {{ theme.value.name | titlecase }}
    </button>
  </mat-menu>
  <mat-icon
    mat-icon-button
    class="material-icons-outlined"
    aria-label="Open app settings"
    matTooltip="Open app settings"
    (click)="openDialog()"
    >settings</mat-icon
  >
</mat-toolbar>
