<app-header></app-header>
<section class="wrapper">
  <div class="container">
    <form [formGroup]="standupForm">
      <h3>
        <span *ngIf="isMonday; else otherDay">Friday</span>
        <ng-template #otherDay>Yesterday</ng-template>
      </h3>
      <div
        class="row-item"
        *ngFor="let control of previousChecklist.controls; index as i"
      >
        <mat-form-field appearance="outline">
          <mat-label>Task</mat-label>
          <input
            matInput
            placeholder="Had standup meeting for sprint 9"
            [formControl]="control"
            (keyup.enter)="addToChecklist('previousChecklist')"
          />
          <button
            type="button"
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Delete item"
            (click)="removeFromChecklist('previousChecklist', i)"
          >
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button
        type="button"
        class="add"
        mat-stroked-button
        color="accent"
        (click)="addToChecklist('previousChecklist')"
      >
        Add checklist item
      </button>
      <h3>
        Today
      </h3>
      <div
        class="row-item"
        *ngFor="let control of currentChecklist.controls; index as i"
      >
        <mat-form-field appearance="outline">
          <mat-label>Task</mat-label>
          <input
            matInput
            placeholder="Had standup meeting for sprint 9"
            [formControl]="control"
            (keyup.enter)="addToChecklist('currentChecklist')"
          />
          <button
            type="button"
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Delete item"
            (click)="removeFromChecklist('currentChecklist', i)"
          >
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button
        type="button"
        class="add"
        mat-stroked-button
        color="accent"
        (click)="addToChecklist('currentChecklist')"
      >
        Add checklist item
      </button>
      <h3>
        Blockers
      </h3>
      <div
        class="row-item"
        *ngFor="let control of blockers.controls; index as i"
      >
        <mat-form-field appearance="outline">
          <mat-label>Blocker</mat-label>
          <input
            matInput
            placeholder="Need to meet with Julie"
            [formControl]="control"
            (keyup.enter)="addToChecklist('blockers')"
          />
          <button
            type="button"
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Delete blocker"
            (click)="removeFromChecklist('blockers', i)"
          >
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button
        type="button"
        class="add"
        mat-stroked-button
        color="accent"
        (click)="addToChecklist('blockers')"
      >
        Add blocker
      </button>
      <button type="button" mat-raised-button (click)="resetForm()">
        Reset form
      </button>
    </form>
    <app-preview
      [previousChecklist]="previousChecklist"
      [currentChecklist]="currentChecklist"
      [blockers]="blockers"
      (onWeekdayRegistered)="setIsMonday($event)"
    ></app-preview>
  </div>
</section>
<app-footer></app-footer>
