<app-header></app-header>
<section class="wrapper">
  <div class="container">
    <form [formGroup]="standupForm">
      <h3>
        {{ previousChecklistTitle }}
      </h3>
      <div
        class="row-item"
        *ngFor="let control of previousChecklist.controls; index as i"
      >
        <mat-form-field appearance="outline">
          <mat-label>Task</mat-label>
          <input
            id="{{ 'previousChecklist' + i }}"
            matInput
            placeholder="Had standup meeting for sprint 9"
            [formControl]="control"
            (keyup.enter)="handleKeyTab($event, 'previousChecklist', i)"
          />
          <button
            type="button"
            matSuffix
            mat-icon-button
            aria-label="Delete item"
            (click)="removeFromChecklist('previousChecklist', i)"
          >
            <mat-icon class="material-icons-outlined" color="warn"
              >delete</mat-icon
            >
          </button>
        </mat-form-field>
      </div>
      <button
        type="button"
        class="add"
        mat-stroked-button
        color="accent"
        (click)="addToChecklist('previousChecklist')"
      >
        Add checklist item
      </button>
      <h3>Today</h3>
      <div
        class="row-item"
        *ngFor="let control of currentChecklist.controls; index as i"
      >
        <mat-form-field appearance="outline">
          <mat-label>Task</mat-label>
          <input
            id="{{ 'currentChecklist' + i }}"
            matInput
            placeholder="Had standup meeting for sprint 9"
            [formControl]="control"
            (keyup.enter)="handleKeyTab($event, 'currentChecklist', i)"
          />
          <button
            type="button"
            matSuffix
            mat-icon-button
            aria-label="Delete item"
            (click)="removeFromChecklist('currentChecklist', i)"
          >
            <mat-icon class="material-icons-outlined" color="warn"
              >delete</mat-icon
            >
          </button>
        </mat-form-field>
      </div>
      <button
        type="button"
        class="add"
        mat-stroked-button
        color="accent"
        (click)="addToChecklist('currentChecklist')"
      >
        Add checklist item
      </button>
      <h3>Blockers</h3>
      <div
        class="row-item"
        *ngFor="let control of blockers.controls; index as i"
      >
        <mat-form-field appearance="outline">
          <mat-label>Blocker</mat-label>
          <input
            id="{{ 'blockers' + i }}"
            matInput
            placeholder="Need to meet with Julie"
            [formControl]="control"
            (keyup.enter)="handleKeyTab($event, 'blockers', i)"
          />
          <button
            type="button"
            matSuffix
            mat-icon-button
            aria-label="Delete blocker"
            (click)="removeFromChecklist('blockers', i)"
          >
            <mat-icon class="material-icons-outlined" color="warn"
              >delete</mat-icon
            >
          </button>
        </mat-form-field>
      </div>
      <button
        type="button"
        class="add"
        mat-stroked-button
        color="accent"
        (click)="addToChecklist('blockers')"
      >
        Add blocker
      </button>
      <button type="button" mat-raised-button (click)="resetForm()">
        Reset form
      </button>
    </form>
    <app-preview
      [previousChecklist]="previousChecklist"
      [currentChecklist]="currentChecklist"
      [blockers]="blockers"
      (onFormSaved)="onFormSaved()"
      (weekdayRegistered)="setPreviousChecklistTitle($event)"
    ></app-preview>
  </div>
</section>
<app-footer></app-footer>
