:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding: 2rem 5rem;

    form {
      display: flex;
      flex-direction: column;

      .mat-icon {
        cursor: pointer;
      }

      h3 {
        span {
          margin-right: 0.5ch;
        }

        .mat-icon {
          position: relative;
          display: inline-block;
          vertical-align: sub;
        }
      }

      .row-item {
        display: flex;

        .mat-form-field {
          width: 100%;
        }
      }

      button.add {
        margin: 0 0 1.25rem;
      }
    }
  }

  @media (max-width: 1024px) {
    .container {
      padding: 1rem 1.8rem;
      grid-template-columns: 1fr;
      row-gap: 1rem;
    }
  }
}
