@import "~@angular/material/theming";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  .copy-success {
    background-color: mat-color(mat-palette($mat-deep-orange));
  }
}
