@use "@angular/material" as mat;

@include mat.core();

$standup-form-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$m2-red-palette,
      tertiary: mat.$m2-blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);
