@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core(mat-typography-config($font-family: "Roboto Slab"));

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// light theme colors
$primary: mat-palette($mat-red);
$accent: mat-palette($mat-blue, A200, A100, A400);

// dark theme colors
$dark-theme-warn: mat-palette($mat-deep-orange);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// themes will be switched based on class names, angular will switch classes which will trigger the theme change
.light {
  @include angular-material-theme(mat-light-theme($primary, $accent));
}

.dark {
  @include angular-material-theme(
    mat-dark-theme($primary, $accent, $dark-theme-warn)
  );
}

a {
  color: mat-color($accent);
}
