@use "@angular/material" as mat;

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$orange-palette,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$orange-palette,
    ),
  )
);

@include mat.core();

@mixin theme($theme) {
  app-header {
    color: mat.get-theme-color($theme, primary);

    mat-toolbar {
      background: mat.get-theme-color($theme, primary-container);
    }
  }
}

:root {
  @include mat.all-component-themes($light-theme);
  @include theme($light-theme);
}

body.dark {
  @include mat.all-component-themes($dark-theme);
  @include theme($dark-theme);
}
