<h1 mat-dialog-title>Settings (Beta)</h1>
<mat-dialog-content>
  <p>Experimental settings for customizing the application</p>
  <form [formGroup]="customizationsForm">
    <mat-checkbox formControlName="hideEmptyLists"
      >Hide empty list(s)</mat-checkbox
    >
    <mat-checkbox formControlName="displayDayOnPreviousChecklist"
      >Display previous day's checklist as day (ie, Wednesday,
      Thursday)</mat-checkbox
    >
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="onSave()"
  >
    Save
  </button>
</mat-dialog-actions>
